body {
    height: 2000px;
    font-family: MyriadProRegular;
    font-size: 12px;
}

footer {
    font-size: 9px;
    text-align: center;
    margin: 24px;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

h3 {
    font-size: 18px;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    position: relative;

}

.img-coffee {
    float: left;
    margin: 5px 23px 20px 0;
}

.img-css-html {
    float: right;
    margin: 5px 0 20px 20px;
}

.img-left {
    float: left;
    margin: 10px 0 10px 0;
}

.img-right {
    float: right;
    margin: 10px 0 10px 0;
}

#rectangle1 {
    background: #ebebeb;
    position: absolute;
    top: 200px;
    width: 519px;
    height: 746px;
    border: 2px solid #000;
}

#rectangle2 {
    background: #cccccc;
    position: absolute;
    top: 220px;
    left: 20px;
    width: 519px;
    height: 746px;
    border: 2px solid #000;
}

#rectangle3 {
    background: #acacac;
    position: absolute;
    top: 240px;
    left: 40px;
    width: 519px;
    height: 746px;
    border: 2px solid #000;
}

.bookmark {
    width: 107px;
    height: 31px;
    position: absolute;
    border: 2px solid #000;
    border-radius: 0 10px 10px 0;
}

.orange-bookmark {
    background: #f68e56;
    top: 240px;
    left: 494px;
}

.green-bookmark {
    background: #39b54a;
    top: 263px;
    left: 482px;
}

.blue-bookmark {
    background: #00aeef;
    top: 286px;
    left: 460px;
}

.share {
    position: fixed;
    bottom: 20px;
    right: 0;
    border: 1px solid #362f2d;
    width: 87px;
    height: 69px;
    text-align: center;
    background: #fbaf5d;
    font-size: 16px;
}

.main-text, .jokes {
    margin: 24px;
}

.clearfix {
    clear: both;
}

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
